<template name="userRequests">
    Check the requests you did

    {{#if submittedRequests.count}}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Rooms</th>
                <th>Guest</th>
                <th>Children</th>
                <th>Properties</th>
            </tr>
        </thead>
        <tbody>

        {{#each submittedRequests}}
            <tr>
                <td>{{from}}</td>
                <td>{{to}}</td>
                <td>{{rooms}}</td>
                <td>{{guest}}</td>
                <td>{{children}}</td>
                <td>
                    {{#each selectedProperties}}
                        <table class="table">
                           <tr>
                               <td>{{name}}</td>
                               <td>{{price}}</td>

                               <td>{{getLabelFromRequestStatus 1}}</td>

                           </tr>
                        </table>

                    {{/each}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
        <br>you did not perform any request!!
    {{/if}}
</template>